$map_overlay_colour: rgba(34, 34, 34, 0.9);
$highlight_colour: #eee;
$lighter_grey: #ccc;
$light_grey: #999;
$medium_grey: #555;
$grey_menu: #3d3d3d;
$dark_grey: #333;
$darker_grey: #222;
$white: #fff;
$background_map: rgba(34, 34, 34, 0.75);
$background_no_map: rgba(102, 102, 102, 1.0);
$yellow: #ffcc00;
