$header_height: 90px;
$smartbanner_height: 84px;
$cookie_info_height: 115px;
$margin_x: 10px;
$margin_x_zoomin: 16px;
$margin_x_zoomout: 73px;
$margin_y: 10px;
$search_button_top: 10px;
$list_margin_y: 5px;
$button_width: 46px;
$button_margin: 10px;
$button_img_width: 34px;
$button_img_height: 34px;
$details_logo_width: 80px;
$details_logo_height: 39px;
$search_double_top: 120px;
$search_single_top: 112px;
$menu_height: 42px;
$toggle_wrapper_height: 70px;
$toggle_wrapper_width: 80px;
$toggle_height: 29px;
$toggle_width: 40px;
$navigation_width:40px;
$sorting_margin: 11px;
$route_tab_radius: 10px;
$pub_route_trip_no_width: 13%;
